name: Build and Release APK

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Cache buildozer .buildozer directory
        uses: actions/cache@v3
        env:
          cache-name: cache-buildozer
        with:
          path: |
            .buildozer
          key: ${{ runner.os }}-buildozer-${{ hashFiles('**/buildozer.spec') }}
          restore-keys: |
            ${{ runner.os }}-buildozer-

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y zip unzip openjdk-17-jdk python3-pip

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip setuptools
          pip install cython
          pip install buildozer

      - name: Build APK with Buildozer
        run: |
          buildozer android debug

      - name: Find generated APK
        id: get_apk
        run: |
          APK_PATH=$(find bin/ -name "*.apk" | head -n 1)
          echo "apk_path=$APK_PATH" >> $GITHUB_OUTPUT

      - name: Upload APK to Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ steps.get_apk.outputs.apk_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
